
html,
body {
  margin: 0;
  font-family: "Verdana";
  font-size: 10px;
  background-color: transparent;
  background-image: url("https://i.pinimg.com/originals/31/03/7a/31037a273b5755c5ac18d5c27c91a583.gif");
}


/* The animation code */
@keyframes lain {
  0%  {opacity:0;}
  1% {opacity:100;}
  99% {opacity:100}
  100% {opacity:0}
}

@keyframes body {
  0% {background-color:black; opacity:100;}
  99% {background-color:black; opacity:100;}
  100% {background-color:transparent}
}

body {
  margin: 0;
  font-family: "Verdana";
  font-size: 10px;
  background-color: black;
}

video {
  width: 600px;
  height: 400px;
  background-color: black;
  animation-name: lain;
  animation-duration: 15s;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;;
  }
